<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <h4>My name is Chung Ching Lai (301296260)</h4>
    <h4>My photo:</h4>
    <img src="/img/laicc.jpg" alt="logo" style: width="150px"; height="170px">
    <h4>I graduated from University of Science and Technology.</h4>
    <h4>My program was Electronics.</h4>
    <h4>I worked in a watch manufacturer for 20 years.</h4>
    <h4>I have a rich knowledge of Electronics.</h4>
    <h4>Click my <a href="/assets/resume.pdf">Resume</a></h4>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   