<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <h4>My email address is: cclaihk@gmail.com</h4>
    <h4>&nbsp;</h4>
    <h4>Please leave your message below, I will contact you as soon as possible:</h4>

    <div class="row">
        <div class="column left" style="background-color:#aaa;">
          <h4>Name</h4>
          <h4>Email</h4>
          <h4>Message</h4>
        </div>
        <div class="column right" style="background-color:#bbb;">
                    
          <form action="/" method="get">
             <h5><input id="name" type="text" name="name_field" placeholder="John Smith" /></h5>
             <h5><input id="email" type="text" name="email_field" placeholder="john@gmail.com" /></h5>
             <h5><textarea id="message" name="message_field" rows="4" cols="50"></textarea></h5>
            <input type="submit" value="OK" />
          </form>
      
        </div>
      </div>
 



    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   