<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <h4>1)Project Name: Automatic controller</h4>
    <h4>Description: This is a programmable controller. It has 14 relays to control the external electrical devices.</h4>
    <h4><img src="/img/auto2.png" alt="logo" style: width="500px"; height="200px"></h4>
    <h4>2)Project Name: Auto Routing</h4>
    <h4>Description: This is PCB was design by auto routing program.</h4>
    <h4><img src="/img/w1.png" alt="logo" style: width="300px"; height="200px"></h4>
    <h4>3)Project Name: Analog board Tester</h4>
    <h4>Description: This board is used to test the power consumption of test unit.</h4>
    <h4><img src="/img/w2.png" alt="logo" style: width="300px"; height="200px"></h4>
    <h4>&nbsp;</h4>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   