<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <h4>Below are the services I can provide to you:</h4>
    <h4>1) general programming</h4>
    <h4>2) web development</h4>
    <h4>3) mobile apps</4>
    <h4>4) PCB layout</h4>
    <h4>5) ARM mcu programming</h4>
    <h4>6) Electronics circuit design</h4>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   